[submodule "deps/lie_learn"]
	path = deps/lie_learn
	url = https://github.com/AMLab-Amsterdam/lie_learn.git
[submodule "deps/pynvrtc"]
	path = deps/pynvrtc
	url = https://github.com/NVIDIA/pynvrtc.git
[submodule "deps/cupy"]
	path = deps/cupy
	url = https://github.com/cupy/cupy
